___
# __Scaler__
___

### __Libraries and data load__

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel("satisfaction_2015.xlsx")

### __Main Function and Example__

In [ ]:
## Scaler works with:
    ## df: should be type of pandas.core.frame.DataFrame
    ## to_be_encoded: should be type of either of the following ["pandas.core.indexes.base.Index","list","tuple"]

In [1]:
def Scaler(df,to_be_scaled,t="n"):
    
    # Input variable checks & errors

    wrong_column_name=[]

    if isinstance(df, pd.core.frame.DataFrame)==False:
        print("The first variable is not a pandas data frame, please enter a pandas data frame")
        return
    
    if len(df)==0:
        print("The data frame is empty, please check your data frame.")
        return
    
    if len(to_be_scaled)==0:
        print("The list of columns, to be scaled, is empty. Please check your list.")
        return
    
    for i in to_be_scaled:
        if i not in df.columns.tolist():
            wrong_column_name.append(i)
    
    if len(wrong_column_name)>0:
        if len(wrong_column_name)==1:
            print("There is no such a column as: {}".format(wrong_column_name))
        if len(wrong_column_name)>1:
            print("There are no columns as: {}".format(wrong_column_name))
        return
    
    if t.lower()!="n" and t.lower()!="s" and t.lower()!="rs":
        print("Please put the third input as N, S or RS for Normalization, Standardization and Robust Scaler respectively")
        return

    # Importing necessary models
    
    from sklearn.preprocessing import StandardScaler
    from sklearn.preprocessing import MinMaxScaler
    from sklearn.preprocessing import RobustScaler

    # Scaling
    
    new_df=df.copy()

    if t.lower()=="n":
        model=MinMaxScaler()
        for i in to_be_scaled:
            new_df[i]=model.fit_transform(new_df[[i]])
        print("Normalized df is prepared")
    
    elif t.lower()=="rs":
        model=RobustScaler()
        for i in to_be_scaled:
            new_df[i]=model.fit_transform(new_df[[i]])
        print("Robust Scaled df is prepared")

    else:
        model=StandardScaler()
        for i in to_be_scaled:
            new_df[i]=model.fit_transform(new_df[[i]])
        print("Standardized df is prepared")

    return new_df

In [4]:
c=["Inflight wifi service","Departure/Arrival time convenient","Ease of Online booking","Gate location","Food and drink","Online boarding","Seat comfort",
   "Inflight entertainment","On-board service","Flight Distance","Age"]

In [5]:
scaled_df=Scaler(df,c,"s")

Standardized df is prepared

In [6]:
scaled_df

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,117135,satisfied,Male,disloyal Customer,1.096085,Personal Travel,Eco,-0.823417,-2.052677,-0.692719,...,-0.334546,-0.268414,-1.851475,5,3,3,4,3,0,0.0
1,72091,satisfied,Male,disloyal Customer,0.633101,Personal Travel,Eco,1.298998,-2.052677,-0.692719,...,-0.334546,-1.018015,-1.851475,1,4,4,3,2,0,0.0
2,29663,satisfied,Male,disloyal Customer,1.029945,Personal Travel,Eco,0.258343,-2.052677,-0.037727,...,-0.334546,-0.268414,-0.297587,5,3,2,3,3,0,0.0
3,81849,satisfied,Female,disloyal Customer,-0.226727,Personal Travel,Eco,0.311478,-2.052677,0.617265,...,0.423441,0.481186,1.256300,4,5,5,5,4,0,0.0
4,83693,satisfied,Male,disloyal Customer,1.029945,Personal Travel,Eco,-0.614885,-2.052677,1.272257,...,-0.334546,-0.268414,-0.297587,4,5,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,49202,satisfied,Female,Loyal Customer,-0.292868,Business travel,Business,1.405269,1.708602,1.272257,...,0.423441,1.230787,1.256300,5,5,5,5,4,0,0.0
129876,16986,satisfied,Female,Loyal Customer,-1.880243,Business travel,Eco,-0.581801,1.708602,-1.347712,...,1.181428,1.230787,1.256300,4,1,2,5,5,82,65.0
129877,50316,satisfied,Male,Loyal Customer,0.434679,Business travel,Business,-1.107141,-1.300421,-1.347712,...,1.181428,1.230787,-1.851475,3,1,5,2,2,0,0.0
129878,22333,satisfied,Female,Loyal Customer,-0.292868,Business travel,Business,-1.110149,-1.300421,-1.347712,...,1.181428,1.230787,0.479357,4,2,5,5,5,0,0.0
129879,10198,satisfied,Female,Loyal Customer,0.500820,Business travel,Business,2.755714,-1.300421,-1.347712,...,1.181428,1.230787,-1.074531,5,4,5,4,5,0,0.0